body {
    margin: 0;
    background-color: white;
}

/* main {
    max-width: 60em;
    margin: auto;
} */

h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
    text-align: center;
    font-size: 6em;
    margin-top: 0;
    padding: 0.2em;
    background-color: lightblue;
}

button, input, select {
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 1em;
}

button {
    background-color: lightblue;
}

form input, form button {
    margin: 0.5em;
}

.danger {
    background-color: darksalmon;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.block {
    display:block;
}

.header-controls {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

/* Le panier */
.header-controls .cart {
    border: 2px solid lightblue;
    width: 40%;
    padding: 1em;
    box-sizing: border-box;
    background-color: azure;
}

.title {
    padding-left: 2em;
}